$breakpoint: 1024px;

:host{
    display: flex;
    flex-direction: column;
    margin:0 0;
    width:100%;
    @media (min-width: $breakpoint) {
        margin:0 auto;
        width:$breakpoint;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: stretch;
        align-content: space-between;
        > *{
            width: min(100vw/3,1024px/3);
        }
    }

}